**/cmake-build-debug
**/build
**/CMakeLists.txt
**/*.out
**/.idea
**/.vscode
**/venv
!Parallel_sorting/one_thread/CMakeLists.txt
!Lab1/one_thread/CMakeLists.txt
Euler_number/main
Lab1/multi_thread/main
lab1.pdf
